.todo-main {
  display: flex;
}

.todo-left-nav {
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin: .5rem;
  width: 150px;
  max-width: 300px;
}

.todo-list-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 5rem;
}

#project-input {
  width: 7rem;
}

.add-task-btn {
  width: 75px;
}

#task-form {
  display: none;
  height: 120px;
  width: 300px;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
  /* align-items: center; */
  /* background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;  */
}

.close {
  display: flex;
  justify-content: flex-end;
  color: #aaaaaa;
  font-weight: bold;
  font-size: 30px;
  width: 20px;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}