.todo-main {
  display: flex;
}

.todo-left-nav {
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin: .5rem;
  width: 150px;
  max-width: 300px;
}

.todo-list-btns {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 5rem;
}

.todo-projects {}

#project-input {
  width: 7rem;
}

.add-task {
  height: 25px;
}